/* ARTICLES SEARCH FORM */
.search-form-articles {
  text-align: center;
}
.articles-fieldset {
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 5px 5px 5px 5px;
}
.loading-message {
  font-size: larger;
  text-align: center;
  font-weight: bold;
  margin-top: 15%;
}

/* ARTICLES */
.articles-card-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.all-item-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
}
.article-card-individual {
  flex-grow: 0;
}
