/* ARTICLE CARD */

@media (min-width: 758px) {
  .articles-card-container {
    width: 25%;
  }
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 2.5%;
  padding: 2.5%;
}
.card-title {
  font-weight: bold;
  text-align: center;
}

.card-subtitle {
  text-align: center;
}
.card-text {
  padding: 2.5%;
  font-style: italic;
}

.topic-badge {
  left: 5px;
  position: absolute;
  top: 5px;
}

.card-footer {
  display: inline-block;
}

.col {
  transition: 0.3s;
  border-radius: 5px;
}

.col:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
