/* ARTICLE */

@media (min-width: 758px) {
  .card-title {
    font-size: xx-large;
  }
}

.votes-container {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 2.5%;
}

.card-title {
  margin-top: 1%;
}
