.article-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 7.5px;
  background-color: rgb(232, 230, 225);
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

.article-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.article-card-container {
  padding: 1px 8px;
  text-align: left;
  max-width: auto;
  max-height: auto;
  display: grid;
  grid-template-areas:
    "title title title title title"
    "img img  topic author ."
    "img img  date  comment-count ."
    "img img  body  article-votes ."
    "img img  body  .             ."
    ".    .    .    .        continue-read ";
  grid-template-columns: auto;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 5px;
}
.article-card-container a {
}

.bold {
  font-weight: bold;
}
.article-card-title {
  font-size: medium;
  font-weight: bolder;
  grid-area: title;
  text-align: center;
}
.article-card-topic {
  font-size: small;

  grid-area: topic;
}
.article-card-author {
  font-size: small;

  grid-area: author;
}
.article-card-date {
  font-size: small;
  font-weight: bolder;
  grid-area: date;
}

.article-card-comment-count {
  font-size: small;

  grid-area: comment-count;
}

.article-card-votes {
  font-size: small;

  grid-area: article-votes;
}

.article-card-img {
  border-radius: 5px 5px 5px 5px;
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
  grid-area: img;
}

.continue-read {
  grid-area: continue-read;
}
.article-card-body {
  font-size: small;

  grid-area: body;
}

.article-link {
  grid-area: button;
}
