@import url("https://fonts.googleapis.com/css?family=Lato");

.App img {
  max-width: 100%;
}

body {
  font-family: "Lato";
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
