/* NAVBAR FULL */

.navbar-container {
  max-width: max-content;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar {
  background-color: #cc1d20;
  overflow: hidden;
}

/* LOGO */
.navbar-logo {
  margin-left: -5.75%;
}

/* LINKS */
.navbar-elements ul li:not(:last-child) {
  margin-right: 60px;
}
.navbar-elements ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
.navbar-elements a {
  font-size: 16px;
  font-weight: bolder;
  color: rgb(20, 20, 20);
  text-decoration: none;
}
.navbar a:hover {
  background-color: rgb(170, 5, 5);
  color: black;
  border-radius: 8px;
  padding: 15%;
}
