.avatar {
  margin-top: 7.5%;
}

.avatar-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: white;
}

.user-name {
  font-weight: bold;
}

.user-username {
  font-style: italic;
}

.user-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
