/* COMMENTS */

.comments-card-container {
  list-style: none;
  display: flex;

  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.comment-card-individual {
  flex-grow: 0;
}

.comment-submit-btn {
  margin-top: 1%;
  margin-right: 1%;
  text-align: right;
}

.comment-form {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.form-label {
  font-weight: bold;
}

p {
  margin-left: 5%;
  margin-right: 5%;
}

.comment-alert {
  margin-bottom: 5%;
  font-size: 115%;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

/* COMMENTCARD */

.footer-badges {
  margin-left: 1%;
  margin-bottom: 0;
}

.footer-votes {
  text-align: right;
  margin-right: 1%;
}

.author-badge-comment {
  margin-right: 1%;
}

.comment-body {
  margin-left: 2%;
  margin-right: 2%;
}
